<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	<link href="Public/css/Yungui.css" rel="stylesheet" type="text/css" />
	<link href="Public/css/index_nav.css" rel="stylesheet" type="text/css" />
	 <link rel="stylesheet" href="Public/css/font-awesome.min.css">
	 <link href=“http://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css” rel=“stylesheet”/> <!--字体库 -->
	<link rel="stylesheet" type="text/css" href="Public/css/index_slider.css" media="screen" />
	<script type="text/javascript" src="Public/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="Public/js/jquery.banner.revolution.min.js"></script>
	<script type="text/javascript" src="Public/js/banner.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="Public/images/favicon.ico" />
	<title>云桂信息主页</title>
</head>

<body>
	<!--回到顶部-->
	<div id="top">
		<a href="#top_reture"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>
	<div id="top_reture"></div>
	<!-- 顶部 -->
	<div id="container">
		<header><a href="#" target="_parent">
				<h4 class="hello">云桂信息学院欢迎你!</h4>
			</a>
			<nav>
				<ul>
					<li><a href="http://www.aftvc.com/">学院主页</a></li>
					<li><a href="?c=login&a=login&p=home">个人中心</a></li>
					<li><a href="http://220.178.74.66/index.asp">图书馆</a></li>
					<li><a href="#contact">English</a></li>
				</ul>
			</nav>
		</header>
		<section class="pic-1" id="pic-1">
			<div id="logo">
				<div style="text-align:center;clear:both;"></div>
				<div class="son-container">
					<ul class="menu">
						<li><a href="index.php">云桂首页</a></li>
						<li><a href="Application/View/Home/news.html">新闻动态</a>
							<ul class="submenu">
								<li><a href="https://github.com/triumph-star">热点新闻</a></li>
							</ul>
						</li>
						<li class="active"><a href="Application/View/Home/proClass.html">专业班级</a>
							<ul class="submenu">
								<li><a href="#">计算机应用技术</a></li>
								<li><a href="#">物联网应用技术</a></li>
								<li><a href="#">数字媒体应用技术</a></li>
								<li><a href="#">光伏工程技术</a></li>
								<li><a href="#">移动互联网技术</a></li>
								<li><a href="#">计算机信息管理</a></li>
								<li><a href="#">应用电子技术</a></li>
								<li><a href="#">软件技术</a></li>
							</ul>
						</li>
						<li><a href="Application/View/Home/studentSection.html">团学部门</a>
							<ul class="submenu">
								<li><a href="#">纪检部</a></li>
								<li><a href="#">组织部</a></li>
								<li><a href="#">秘书部</a></li>
								<li><a href="#">宣传部</a></li>
								<li><a href="#">学习部</a></li>
								<li><a href="#">宿管部</a></li>
								<li><a href="#">体育部</a></li>
								<li><a href="#">劳动生活部</a></li>
							</ul>
						</li>
						<li><a href="Application/View/Home/service.html">服务指南</a>
							<ul class="submenu">
								<li><a href="#">校历</a></li>
								<li><a href="#">课表</a></li>
								<li><a href="#">成绩查询</a></li>
								<li><a href="#">报名选课</a></li>
								<li><a href="#">考试查询</a></li>
								<li><a href="#">网络教学</a></li>
								<li><a href="#">考试安排</a></li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
			
			<div class="main_new">
				<ul class="new">
					<marquee  direction="up" behavior="slide" scrollamount="5" onmouseover="this.stop();" onmouseout="this.start();">
					<li><a href="#">通知，胡林杰老师本周四（12月5日）下午《证券与期货》选修课因公调课，补课...</a></li>
					<li><a href="#">各院部务必提醒学生：网络考试一旦开始，中途不得退出，否则记为无效成绩。答...</a></li>
					<li><a href="#">采用网上报名，学生可以单击学院主页（192.168.97.101）上的“安徽财贸学院...</a></li>
					<li><a href="#">为便于学生寒假回家购票，2019-2020学年第一学期期末考试安排表（考场待定,具...</a></li>
					<li><a href="#">部分同学的密码忘记了，请登通过网上办事大厅登录教务系统自己重置，看一下说明...</a></li>
					<li><a href="#">通知，以后缓考在系统里申请......</a></li>
				</ul>
			</marquee>
			</div>
		
		</section>
		<div id="loop">
			<div id="wrapper">
				<div class="fullwidthbanner-container">
					<div class="fullwidthbanner">
						<ul>
							<li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="100">
								<img src="Public/images/slides/slide3.jpg" alt="" />
							</li>
							<li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="100"
								data-link="#">
								<img src="Public/images/slides/slide5.jpg" alt="" />
							</li>
							<li data-transition="papercut" data-slotamount="15" data-masterspeed="100" data-link="#">
								<img src="Public/images/slides/slide2.jpg" alt="" />
							</li>
							<li data-transition="turnoff" data-slotamount="15" data-masterspeed="100">
								<img src="Public/images/slides/slide1.jpg" alt="" />
							</li>
							<li data-transition="flyin" data-slotamount="15" data-masterspeed="100">
								<img src="Public/images/slides/slide6.jpg" alt="" />
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div style="text-align:center;clear:both;">

			</div>
		</div>
		<div id="content">
			<section class="button-pic">
				<div id="main">

					<h2 class="parallax">云桂信息学院介绍</h2>
					<p class="parallax_description">
						学院创建于1964年，始终秉承“明德厚学、知行合一”的校训，坚持“以就业为导向、以创新为动力、以质量为根本、以特色为生命”的办学理念，把握“立足行业、面向社会、开放办学，培养财贸精英”的定位，积极为区域社会经济发展服务。<br>
						院区坐落在合肥市大学城，设有计算机应用技术、软件技术、移动互联网技术、应用电子技术、光伏工程技术、数字媒体应用技术、物联网应用技术等教学机构以及计算机应用研究所、软件应用研究所、移动互联网研究所等研究机构，开设八个专业及专业方向，目前各类全日制在预案学生1000余人。<br>
						学院专任教师中教授等高级职称教师超过20%，专业课教师中“双师型”教师超过70%，青年教师中具有博士、硕士学位超过70%，其中享受国务院、省政府特殊津贴专家2人，省级教学名师6人，博士生导师1人，硕士生导师1人，省级专业带头人18人，省级教学团队10个，40位教师先后荣获省部级优秀教师、省级教坛新秀等称号。<br>
						学院注重强化学生的职业技能，追求“技能成就梦想，大赛点亮人生”。<br>
					</p>

				</div>
				<div id="second">
					<div id="notice">
						<ul class="message">
							<li><a href="#">通知，胡林杰老师本周四（12月5日）下午《证券与期货》选修课因公调课，补课...</a></li>
							<li><a href="#">各院部务必提醒学生：网络考试一旦开始，中途不得退出，否则记为无效成绩。答...</a></li>
							<li><a href="#">采用网上报名，学生可以单击学院主页（192.168.97.101）上的“安徽财贸学院...</a></li>
							<li><a href="#">为便于学生寒假回家购票，2019-2020学年第一学期期末考试安排表（考场待定,具...</a></li>
							<li><a href="#">部分同学的密码忘记了，请登通过网上办事大厅登录教务系统自己重置，看一下说明...</a></li>
							<li><a href="#">通知，以后缓考在系统里申请......</a></li>
						</ul>
					</div>
					<div id="down">
						<div id="left">
							<ul class="contact">
								<li class="chen" id="chen"><a href="#"><span>css-programmer:陈凯旋</span></a></li>
								<li class="lu" id="lu"><a href="#"><span>JavaScript-programmer:陈凯旋</span></a></li>
								<li class="tang" id="tang"><a href="#"><span>HTML-programmer:陈凯旋</span></a></li>
								<li class="peng" id="peng"><a href="#"><span>Web-Engineer:陈凯旋</span></a></li>
							</ul>
						</div>
						<div id="right">
						</div>
						<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=229c2c4ecc1f0b1d2630fe05ccb39297">
						</script>
						<script type="text/javascript">
							//地图初始化时，在地图上添加一个marker标记,鼠标点击marker可弹出自定义的信息窗体
							var map = new AMap.Map("right", {
								resizeEnable: true,
								center: [117.17656976318352, 31.75243235087859],
								zoom: 15
							});
							addMarker();
					
							//添加marker标记
							function addMarker() {
								map.clearMap();
								var marker = new AMap.Marker({
									map: map,
									position: [117.17656976318352, 31.75243235087859]
								});
								//鼠标点击marker弹出自定义的信息窗体
								AMap.event.addListener(marker, 'click', function () {
									infoWindow.open(map, marker.getPosition());
								});
							}
					
							//实例化信息窗体
							var title = '安徽财贸职业学院<span style="font-size:11px;color:#F00;">专科</span>',
								content = [];
							content.push(
								"<img src='http://www.afc.edu.cn/acnews/admin/picture/admin/WebEdit/UploadFile/news_2014641661.jpg'>地址：新校区：合肥经济技术开发区翡翠路900号,老校区：合肥瑶海区大兴集胡岗路13号"
								);
							content.push("电话：:0551-63865888");
							content.push("<a href='https://gkcx.eol.cn/school/1838'>详细信息</a>");
							var infoWindow = new AMap.InfoWindow({
								isCustom: true, //使用自定义窗体
								content: createInfoWindow(title, content.join("<br/>")),
								offset: new AMap.Pixel(16, -45)
							});
					
							//构建自定义信息窗体
							function createInfoWindow(title, content) {
								var info = document.createElement("div");
								info.className = "custom-info input-card content-window-card";
					
								//可以通过下面的方式修改自定义窗体的宽高
								//info.style.width = "400px";
								// 定义顶部标题
								var top = document.createElement("div");
								var titleD = document.createElement("div");
								var closeX = document.createElement("img");
								top.className = "info-top";
								titleD.innerHTML = title;
								closeX.src = "https://webapi.amap.com/images/close2.gif";
								closeX.onclick = closeInfoWindow;
					
								top.appendChild(titleD);
								top.appendChild(closeX);
								info.appendChild(top);
					
								// 定义中部内容
								var middle = document.createElement("div");
								middle.className = "info-middle";
								middle.style.backgroundColor = 'white';
								middle.innerHTML = content;
								info.appendChild(middle);
					
								// 定义底部内容
								var bottom = document.createElement("div");
								bottom.className = "info-bottom";
								bottom.style.position = 'relative';
								bottom.style.top = '0px';
								bottom.style.margin = '0 auto';
								var sharp = document.createElement("img");
								sharp.src = "https://webapi.amap.com/images/sharp.png";
								bottom.appendChild(sharp);
								info.appendChild(bottom);
								return info;
							}
					
							//关闭信息窗体
							function closeInfoWindow() {
								map.clearInfoWindow();
							}
						</script>
					</div>
				</div>
			</section>
		</div>
		<div id="cl"></div>
		<footer>
			<section class="footer_banner" id="contact">
				<div class="button"><a href="#"><span class="mid">使logo居中</span></a></div>
				<div id="buttom_icon">
					<p class="tel_info">
						<a href="#" target="_parent">
							<span>
								<i class="fa fa-phone" aria-hidden="true"></i> 0551-63865857
							</span>
							&nbsp;
							<span>
								<i class="fa fa-envelope-o" aria-hidden="true"></i> webmaster@fcyg.edu.cn
							</span>
							<br />
							<br />
							<span>
								<i class="fa fa-map-marker" aria-hidden="true"></i> 合肥市翡翠路900号
							</span>
						</a>
					</p>
				</div>
				<div class="copyright">
					版权所有&copy;云桂信息学院<span>&nbsp;</span>邮编：230601<span>&nbsp;</span>皖ICP备 <a href="http://beian.miit.gov.cn"
						target="_blank" style="color: #fff;">05065075</a>号<span>&nbsp;</span> <span id="end_text">皖公网安备 340402430047 号</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;000000001</span>
				</div>
			</section>
		
		</footer>
	</div>
</body>

</html>