<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>云桂信息主页</title>
	<link rel="stylesheet" href="../../../Public/css/service.css">
	<link rel="stylesheet" href="../../../Public/css/font-awesome.min.css">
	 <link rel="shortcut icon" type="image/x-icon" href="../../../Public/images/favicon.ico" />
</head>

<body>
	<div id="container">
		<header>
			<a href="#" target="_parent">
				<h4 class="hello">云桂信息学院欢迎你!</h4>
			</a>
			<nav>
				<ul>
					<li><a href="http://www.aftvc.com/">学院主页</a></li>
					<li><a href="../../../?c=login&a=login&p=home">个人中心</a></li>
					<li><a href="http://220.178.74.66/index.asp">图书馆</a></li>
					<li><a href="#contact">English</a></li>
				</ul>
			</nav>
		</header>
		<div id="logo">
			<div id="nav">
				<ul>
					<li><a href="../../../index.php">云桂首页</a></li>
					<li><a href="news.html">新闻动态</a></li>
					<li><a href="proClass.html">专业班级</a></li>
					<li><a href="studentSection.html">团学部门</a></li>
					<li><a href="service.html">服务指南</a></li>
					<div class="slider"></div>
				</ul>
			  </div>
		</div>
	<!-- 中部内容-->
	<div id="midContent">

		<!-- 上半部分 -->
		<div id="image">
			<img src="../../../Public/images/ci.jpg">
			<div class="introduction">
				<div class="intrUp">
					<span id="index_service"><a href="../../../index.php">首页</a>&nbsp•&nbsp<a>服务指南</a></span>
					<span id="index_headline">服务指南</span>
				</div>
				<div class="intrDown">
					<p>
						云桂信息系学院（Yungui colleye）是安徽著名高等职业院校安财贸二级学院，坐落于合肥翡翠湖畔，是安徽职业院校输出软件信息技术专业人才的重要基地。
					</p>
				</div>
			</div>
		</div>
		<!-- 下半部分 -->
		<div id="simpleIntroduction">
			<span class="left_headline"><a>服务指南</a></span>
			<div id="flexLayout">
				<div class="show_b show_1">
					<svg width="240" height="60">
						<rect class="rectangle" width="240" height="60"/>
					</svg>
					<div class="show_img show_img1">
						<a href="#"><img src="../../../Public/images/show/show_1.jpg" ></a>
					</div>
				</div>
				<div class="show_b show_2">
					<div class="show_img show_img2">
						<a href="#"><img src="../../../Public/images/show/show_2.jpg" ></a>
					</div>
				</div>
				<div class="show_b show_3">
					<div class="show_img show_img3">
						<a href="#"><img src="../../../Public/images/show/show_3.jpg" ></a>
					</div>
				</div>
				<div class="show_b show_4">
					<div class="show_img show_img4">
						<a href="#"><img src="../../../Public/images/show/show_4.jpg" ></a>
					</div>
				</div>
				<div class="show_b show_5">
					<div class="show_img show_img5">
						<a href="#"><img src="../../../Public/images/show/show_5.jpg" ></a>
					</div>
				</div>
				<div class="show_b show_6">
					<div class="show_img show_img6">
						<a href="#"><img src="../../../Public/images/show/show_6.jpg" ></a>
					</div>
				</div>
				<div class="show_b show_7">
					<div class="show_img show_img7">
						<a href="#"><img src="../../../Public/images/show/show_7.jpg" ></a>
					</div>
				</div>
				<div class="show_b show_8">
					<div class="show_img show_img8">
						<a href="#"><img src="../../../Public/images/show/show_8.jpg" ></a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	</div>			
		<script src="../../../Public/js/pro-index.js"></script>

		<!-- <div style="text-align:center;clear:both;margin-top:50px">
		</div> -->

		<div id="cl"></div>
		<footer>
			<section class="footer_banner" id="contact">
				<div class="button"><a href="#"><span class="mid">使logo居中</span></a></div>
				<div id="buttom_icon">
					<p class="tel_info">
						<a href="#" target="_parent">
							<span>
								<i class="fa fa-phone" aria-hidden="true"></i> 0551-63865857
							</span>
							&nbsp;
							<span>
								<i class="fa fa-envelope-o" aria-hidden="true"></i> webmaster@fcyg.edu.cn
							</span>
							<br />
							<br />
							<span>
								<i class="fa fa-map-marker" aria-hidden="true"></i> 合肥市翡翠路900号
							</span>
						</a>
					</p>
				</div>
				<div class="copyright">
					版权所有&copy;云桂信息学院<span>&nbsp;</span>邮编：230601<span>&nbsp;</span>皖ICP备 <a href="http://beian.miit.gov.cn"
						target="_blank" style="color: #fff;">05065075</a>号<span>&nbsp;</span> <span id="end_text">皖公网安备 340402430047 号</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;000000001</span>
				</div>
			</section>
		
		</footer>
</body>

</html>