<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	<title>云桂信息主页</title>
	<link rel="stylesheet" href="../../../Public/css/studentSection.css">
	<link rel="shortcut icon" type="image/x-icon" href="../../../Public/images/favicon.ico" />
	<link rel="stylesheet" href="../../../Public/css/font-awesome.min.css">

	<style>
	  </style>
</head>

<body>
	<div id="container">
		<header>
			<a href="#" target="_parent">
				<h4 class="hello">云桂信息学院欢迎你!</h4>
			</a>
			<nav>
				<ul>
					<li><a href="http://www.aftvc.com/">学院主页</a></li>
					<li><a href="../../../?c=login&a=login&p=home">个人中心</a></li>
					<li><a href="http://220.178.74.66/index.asp">图书馆</a></li>
					<li><a href="#contact">English</a></li>
				</ul>
			</nav>
		</header>
		<div id="logo">
			<div id="nav">
				<ul>
					<li><a href="../../../index.php">云桂首页</a></li>
					<li><a href="news.html">新闻动态</a></li>
					<li><a href="proClass.html">专业班级</a></li>
					<li><a href="studentSection.html">团学部门</a></li>
					<li><a href="service.html">服务指南</a></li>
					<div class="slider"></div>
				</ul>
			</div>
		</div>
		<!-- start -->
		<div class="student st_1">
			<!-- 个人卡片 -->
			<div class="card cr_1">
				<aside >
					<svg width="627" height="374" class="text">
						<!-- 定义渐变颜色 -->
						<defs>
						  <linearGradient id="geekColor" gradientTransform="rotate(90)">
							<stop offset="0%" stop-color="#815c94">
								<!-- 渐变动画 -->
								<animate
								  attributeName="stop-color"
								  values="#815c94;#126bae;#815c94"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
				  
							  <stop offset="100%" stop-color="#126bae">
								<animate
								  attributeName="stop-color"
								  values="#126bae;#815c94;#126bae"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
						  </linearGradient>
						</defs>
				
						<text class="logo_text" x="70" y="200">
						 劳动生活部
						</text>
					  </svg>		
				</aside>
			</div>
			<div class="itr it1">
				负责我院各班级劳动卫生的评比与监督，对各类活动的后勤保障以及各部门活动款项的报销和物品的管理工作。负责食堂的监督工作和各个活动的后勤工作。
			</div>
		</div>
		<div class="student st_2">
			<!-- 个人卡片 -->
			<div class="card cr_2">
				<aside">
					<svg width="375" height="250" class="text">
						<!-- 定义渐变颜色 -->
						<defs>
						  <linearGradient id="geekColor" gradientTransform="rotate(90)">
							<stop offset="0%" stop-color="#815c94">
								<!-- 渐变动画 -->
								<animate
								  attributeName="stop-color"
								  values="#815c94;#126bae;#815c94"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
				  
							  <stop offset="100%" stop-color="#126bae">
								<animate
								  attributeName="stop-color"
								  values="#126bae;#815c94;#126bae"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
						  </linearGradient>
						</defs>
				
						<text class="logo_text" x="25" y="130">
						  学习部
						</text>
					  </svg>		
				</aside>
			</div>
			<div class="itr it1">
				负责我院口训和晚自习，在此期间对各班进行点名和打分并做以评比，负责各班及社团活动中的销假工作。
			</div>
		</div>
		<div class="student st_3">
			<!-- 个人卡片 -->
			<div class="card cr_3">
				<aside >
					<svg width="375" height="250" class="text">
						<!-- 定义渐变颜色 -->
						<defs>
						  <linearGradient id="geekColor" gradientTransform="rotate(90)">
							<stop offset="0%" stop-color="#815c94">
								<!-- 渐变动画 -->
								<animate
								  attributeName="stop-color"
								  values="#815c94;#126bae;#815c94"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
				  
							  <stop offset="100%" stop-color="#126bae">
								<animate
								  attributeName="stop-color"
								  values="#126bae;#815c94;#126bae"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
						  </linearGradient>
						</defs>
				
						<text class="logo_text" x="25" y="130">
						  组织部
						</text>
					  </svg>		
				</aside>
			</div>
			<div class="itr it1">
				负责学院周三的时政学习，涵盖打分及考勤，同时整理团档、发展团员 、对优秀团员推荐入党,组织学院活动等。
			</div>
		</div>
		<div class="student st_4">
			<!-- 个人卡片 -->
			<div class="card cr_4">
				<aside >
					<svg width="375" height="250" class="text_4">
						<!-- 定义渐变颜色 -->
						<defs>
						  <linearGradient id="geekColor" gradientTransform="rotate(90)">
							<stop offset="0%" stop-color="#815c94">
								<!-- 渐变动画 -->
								<animate
								  attributeName="stop-color"
								  values="#815c94;#126bae;#815c94"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
				  
							  <stop offset="100%" stop-color="#126bae">
								<animate
								  attributeName="stop-color"
								  values="#126bae;#815c94;#126bae"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
						  </linearGradient>
						</defs>
				
						<text class="logo_text" x="25" y="130">
						  宣传部
						</text>
					  </svg>		
				</aside>
			</div>
			<div class="itr it1">
				通过海报、宣传栏以及学院微信公众号等新闻媒介对我院团总支学生会各项工作进行有效的宣传等
			</div>
		</div>
		<div class="student st_5">
			<!-- 个人卡片 -->
			<div class="card cr_5">
				<aside >
					<svg width="375" height="250" class="text">
						<!-- 定义渐变颜色 -->
						<defs>
						  <linearGradient id="geekColor" gradientTransform="rotate(90)">
							<stop offset="0%" stop-color="#815c94">
								<!-- 渐变动画 -->
								<animate
								  attributeName="stop-color"
								  values="#815c94;#126bae;#815c94"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
				  
							  <stop offset="100%" stop-color="#126bae">
								<animate
								  attributeName="stop-color"
								  values="#126bae;#815c94;#126bae"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
						  </linearGradient>
						</defs>
				
						<text class="logo_text" x="25" y="130">
						  宿管部
						</text>
					  </svg>		
				</aside>
			</div>
			<div class="itr it1">
				全面负责我院学生寝室同学晚归情况的检查及对寝室安全防范的检查和对学院同学心理工作的开展。
			</div>
		</div>
		<div class="student st_6">
			<!-- 个人卡片 -->
			<div class="card cr_6">
				<aside >
					<svg width="375" height="250" class="text">
						<!-- 定义渐变颜色 -->
						<defs>
						  <linearGradient id="geekColor" gradientTransform="rotate(90)">
							<stop offset="0%" stop-color="#815c94">
								<!-- 渐变动画 -->
								<animate
								  attributeName="stop-color"
								  values="#815c94;#126bae;#815c94"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
				  
							  <stop offset="100%" stop-color="#126bae">
								<animate
								  attributeName="stop-color"
								  values="#126bae;#815c94;#126bae"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
						  </linearGradient>
						</defs>
				
						<text class="logo_text" x="25" y="130">
						  体育部
						</text>
					  </svg>		
				</aside>
			</div>
			<div class="itr it1">
				自行策划、组织各种体育赛事及校运动会运动员的选拔培训工作。
			</div>
		</div>
		<div class="student st_7">
			<!-- 个人卡片 -->
			<div class="card cr_7">
				<aside >
					<svg width="375" height="250" class="text">
						<!-- 定义渐变颜色 -->
						<defs>
						  <linearGradient id="geekColor" gradientTransform="rotate(90)">
							<stop offset="0%" stop-color="#815c94">
								<!-- 渐变动画 -->
								<animate
								  attributeName="stop-color"
								  values="#815c94;#126bae;#815c94"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
				  
							  <stop offset="100%" stop-color="#126bae">
								<animate
								  attributeName="stop-color"
								  values="#126bae;#815c94;#126bae"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
						  </linearGradient>
						</defs>
				
						<text class="logo_text" x="25" y="130">
						  秘书部
						</text>
					  </svg>		
				</aside>
			</div>
			<div class="itr it1">
				负责操行分的加减、各部门活动表格、席卡制作及统分工作，需要认真严谨的态度。
			</div>
		</div>
		<div class="student st_8">
			<!-- 个人卡片 -->
			<div class="card cr_8">
				<aside >
					<svg width="375" height="250" class="text">
						<!-- 定义渐变颜色 -->
						<defs>
						  <linearGradient id="geekColor" gradientTransform="rotate(90)">
							<stop offset="0%" stop-color="#815c94">
								<!-- 渐变动画 -->
								<animate
								  attributeName="stop-color"
								  values="#815c94;#126bae;#815c94"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
				  
							  <stop offset="100%" stop-color="#126bae">
								<animate
								  attributeName="stop-color"
								  values="#126bae;#815c94;#126bae"
								  dur="3s"
								  begin="3s"
								  repeatCount="indefinite"
								></animate>
							  </stop>
						  </linearGradient>
						</defs>
				
						<text class="logo_text" x="25" y="130">
						  生活部
						</text>
					  </svg>		
				</aside>
			</div>
			<div class="itr it1">
				负责我院各班级劳动卫生的评比与监督，对各类活动的后勤保障以及各部门活动款项的报销和物品的管理工作。负责食堂的监督工作和各个活动的后勤工作。
			</div>
		</div>
		<!-- end -->

		<div id="cl"></div>
		<footer>
			<section class="footer_banner" id="contact">
				<div class="button"><a href="#"><span class="mid">使logo居中</span></a></div>
				<div id="buttom_icon">
					<p class="tel_info">
						<a href="#" target="_parent">
							<span>
								<i class="fa fa-phone" aria-hidden="true"></i> 0551-63865857
							</span>
							&nbsp;
							<span>
								<i class="fa fa-envelope-o" aria-hidden="true"></i> webmaster@fcyg.edu.cn
							</span>
							<br />
							<br />
							<span>
								<i class="fa fa-map-marker" aria-hidden="true"></i> 合肥市翡翠路900号
							</span>
						</a>
					</p>
				</div>
				<div class="copyright">
					版权所有&copy;云桂信息学院<span>&nbsp;</span>邮编：230601<span>&nbsp;</span>皖ICP备 <a href="http://beian.miit.gov.cn"
						target="_blank" style="color: #fff;">05065075</a>号<span>&nbsp;</span> <span id="end_text">皖公网安备 340402430047 号</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;000000001</span>
				</div>
			</section>
		
		</footer>

</body>

</html>