
body {
  margin: 0;
  font-family: "PingFang SC", "Microsoft Yahei",
    sans-serif;
  background: url(../images/login.png) no-repeat;
  background-size: 100%;
	position: relative;
}

header {
  width: 100%;
  height:100px;
  box-sizing:content-box;
  line-height: 100%;
}
#logo{
  width: 100%;
  height: 100px;
  background: url(../images/logo.png) no-repeat;
  margin-top: 1%;
  margin-left: 1%;
}

/*表单*/
form{
	position: absolute;
	left: 55%;
	top: 80px;
}
#left{
	margin-left: 15px;
}
input{
	margin-left: 10px;
  width: 180px;
  background-color:transparent;
  outline-style: none;
  border:1px solid #ccc;
  border-radius: 5px;
}
input:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
#right{
	margin-left: 10px;
}
.color input{
	width: 80px;
}
.btn span{
	margin-left:12%;
}
.btn input{
	color: #FFFFFF;
	width: 80px;
	height: 35px;
	margin:0 30px 0 30px;
	border-radius: 5px;
	background:#1A94BC;
}

#cl{ clear:both;}
#footer{
  position:absolute;
  width: 100%;
  top: 96%;
}
.copyright {
  font-size:12px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
  border-top-width: 2px;
}
.hidden {
	display:none;
}

@media only screen and (max-width: 750px) {
  .wrapper {
    flex-direction: column;
  }

  .button {
    margin: 0.8rem 0;
  }
  #logo{
    width: 100%;
    height: 100px;
    background: url(../images/logo.png) no-repeat;
    margin-top: 1%;
    margin-left: calc(50% - 207px);
  }
}
