<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="Public/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <style>
        a{
            text-decoration:none;
        }
        table{
            font-size: 15px;
            border: 1px solid #1A94BC;
            border-radius: 5px;
            text-align: center;
        }
        #hd td{
            color: #fff;
            border: 1px solid #1A94BC;
            background-color:#1A94BC;
        }
        a{
            color:#1A94BC;
        }
        a:hover{
            color:#ccc;
        }
    </style>
</head>

<body>
    <table border="1">
        <tr id="hd">
            <td>id</td>
            <td>姓名</td>
            <!-- <td>密码</td> -->
            <td>学号</td>
            <td>专业</td>
            <td>班级</td>
            <td>年龄</td>
            <td>生日</td>
            <td>电子邮件</td>
            <td>身份证号码</td>
            <td>用户电话</td>
            <td>删除</td>
        </tr>
        <?php
        if($rs){
            
            foreach($rs as $row){
            echo"<tr> 
                    <td>{$row['usrId']}</td>
                    <td>{$row['usrName']}</td>
                    <!-- <td>{$row['usrPwd']}</td> -->
                    <td>{$row['usrNum']}</td>
                    <td>{$row['usrPro']}</td>
                    <td>{$row['userClass']}</td>
                    <td>{$row['usrAge']}</td>
                    <td>{$row['usrBirthday']}</td>
                    <td>{$row['usrEmail']}</td>
                    <td>{$row['usrIdcard']}</td>
                    <td>{$row['usrTel']}</td>
                    <td><a href='Javascript:void(0)'>删除</a></td>
                </tr>";
            }
        }
        ?>
    </table>
    <script>
        $("td a").click(function () {
            var id = $(this).parent().parent().children().first().text();
            var tr = $(this).parent().parent();
            $.post("index.php?c=student&a=del&p=admin", {
                "id": id
            }, function (data) {
                if (data > 0) {
                    tr.remove();
                }

            });
        });
        (function(){
        //删除前提示
        $("td a").click(function(){
            return confirm("您确定要删除此信息？");
        });
    })();
    </script>
   
</body>

</html>